*{
  margin: 0px;
  padding: 0px;
}

#container{
  display: flex;
  justify-content: center;
  /* margin-top: 50px; */
}

#left-side{
  margin: 50px;
}

#right-side{
  margin: 50px;
}

#middle{
  margin: 30px;
}

button{
  margin: 20px;
}

.btn1{
  width: 300px;
  height: 30px;
  padding: 5px;
  font-size: 1.2rem;
  border-radius: 5px;
  background-color: aqua;
}
.btn2{
  height: 30px;
  padding: 5px;
  font-size: 1.2rem;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
}

textarea{
  font-size: 1.2rem;
}